<div class="card mt-3">
  <div class="card-header">
    <h2>{{lecture.name}}</h2>
  </div>
  <div class="card-body d-flex align-items-center">
    <h3 class="p-3">
        {{lecture.day}}  {{lecture.startDate}}-{{lecture.finishDate}}
    </h3>
    <h4 class="ml-auto align-self-baseline"><span class="badge badge-info">
      {{lecture.abbreviation}}
    </span></h4>
  </div>
  <div class="card-footer d-flex">
    <button type="button" class="btn btn-secondary btn-md mr-auto">
      View More
    </button>
    <button type="button" class="btn btn-danger btn-md">
      Delete
    </button>
  </div>    
</div>
 
