<div class="card mx-auto mt-3">
  <div class="card-header d-flex">
      <h1 class="">Lectures List</h1>
      <button type="button" class="btn btn-success btn-md ml-auto" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Add Lecture
      </button>
  </div>
  <div class="card-body">
      <div class="collapse" id="collapseExample">
          <app-lecture-form (update)="update()"></app-lecture-form>
      </div>
    <app-lectures-list [lectures]="lectures"></app-lectures-list>
  </div>
</div>
